<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>

<h1>Créditos</h1>


<p>
    Esta página ha sido creada por:
</p>

<p>
<strong>JAIME DE FRUTOS CEREZO</strong>
</p>

<img src="images/avatar.png" width="200" />

<hr />

<div>
    <img src="images/ditupm.gif" width="8%"/>
    <img src="images/upm.png" width="8%"/>
    <img src="images/nodejs.png" width="8%"/>
    <img src="images/npm.png" width="8%"/>
    <img src="images/sequelize.png" width="8%"/>
    <img src="images/sqlite.png" width="8%"/>
    <img src="images/express.png" width="8%"/>
    <img src="images/cloudinary.png" width="8%"/>
    <img src="images/heroku.png" width="8%"/>
    <img src="images/postgres.png" width="8%"/>
</div>
</body>
</html>
