<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>

    <p>¡La página web donde puedes crear tus propios quizzes! YAYYY!</p>
  </body>
</html>
