<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>

<h1>Add question:</h1>


<form method="post" action="/quizzes">

    <% include _form.ejs %>

</form>


</body>
</html>